/* CSS Template based on W3Schools templates 
   (https://www.w3schools.com/css/tryit.asp?filename=trycss_template3)
*/
body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

header {
  background-image: url("images/kitten.jpg");
  background-color: midnightblue;
  color: whitesmoke;
  min-height: 400px;
}
#logo {
    display: block;
    height: 50px;
    float: left;
    padding:10px;
    margin-right: 30px;
}
/* Style the top navigation bar */
nav {
    background-color: midnightblue;
    height: 60px;
    overflow: hidden;
}

/* Style the nav links */
nav a, nav a:visited {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    vertical-align: middle;
    height: 100%;
}

/* Reverse colors on hover */
nav a:hover, nav a:active {
    background-color: whitesmoke;
    color: midnightblue;
}

/* Style the main content */
main, section {
    background-color: aliceblue;
    color: midnightblue;
    text-align: center;
    padding: 20px;
}

/* Style the footer */
footer {
    background-color: midnightblue;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}
/* Section dividers with images */
#bgstrip1 {
  background-image: url("images/dog.jpg");
  min-height: 400px;
}

#bgstrip2 {
  background-image: url("images/dog_walker.jpg");
  min-height: 400px;
}
/* This class will give a background image a parallax scrolling effect where the image is fixed and the rest of the page scrolls over it. Based on https://www.w3schools.com/howto/howto_css_parallax.asp
*/
.parallax_image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Fancy Table based on https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy 
 Usage: <table class="fancy-table">
*/
.fancy-table {
    border-collapse: collapse;
    width: 500px;
}

/* Table header row */
.fancy-table th {
    /* Add a color, background-color, border, padding, text-align */
    border: 2px solid blue;
    padding: 10px; 
    text-align: center;
    background-color: darkblue;
    color: white;
}
/* Table data rows */
.fancy-table td {
    border: 2px solid gray;
    padding: 8px;
}


