.myNavbar{
    /*margin-bottom: 0;*/
    border-radius: 0;
       
}
.navbar-brand{
    width: 50px;
    height: 50px;
    background-image: url(logo.png);
    background-size: cover;

    
}
.nav a:hover:{
    background-color: #00CBD9;
    color: #00CBD9;
    
}

ul{
    background-color: #1C3D4D;
    top: 0;
}
#navBar{
    background-color: #57B986;
    
}

.container-fluid{
    width: 70%;
/* 
    background: #e6e6e6;
    background-image: linear-gradient(#ffffff, #e6e6e6,  #ffffff);
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Arima Madurai';
*/
    box-shadow: 0px 20px 40px 0px #d9d9d9;
}
iframe{
    width: 100%;
    height:750px;
    float: center;
    volume: 0;
    
}
body{
    background-color: #1C3D4D;
}
#mainArea{
    background-color: aliceblue;
}
#aboveNav{
    text-align: center;
    float: inherit;
    color:aliceblue;
    background-image: url("gay_landscape_09-06-018.jpg");
    height: 275px;
    width: auto;
}